
    /*COURSES CSS*/

    h5{
        font-size: 17px;
    }
    table{
        border: 1px solid black;
        border-collapse: collapse;
        margin: 15px 0 20px 0;
        table-layout: fixed;
        width: 100%;
    }
    th, td{
        border: 1px solid #ddd;
        text-align: left;
        padding: 5px;
    }
    table tr:nth-child(odd){
        background-color: #ddd;
    }
    .rattade tr:nth-child(odd){
        background-color: #ddd;
    }
    .comming tr:nth-child(odd){
        background-color: #ddd;
    }
    a{
        color: black;
    }
    td a:hover{
        color: purple;
        font-weight: bold;
    }
    td{
        color: black;
        font-size: 13px;
    }
    th{
        font-size: 15px;
    }
    @media screen and (max-width: 1000px){
        table tr td {
            font-size: 75%;
        }
    }

    .container {
        align-items: center;
      }

      .line {
          width: 98%;
      }
