#allStudents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

#groupsForm {
    margin: 1em 0 1em 0;
}

#groupsForm ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1em;
}

#groupsForm li {
    padding: 0.5em;
}

.groupDiv { 
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em 0.5em 3em 0.5em;
    font-size: smaller;
}

#groupDivContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

.studentDiv {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
}

.groupHeading {
    background-color: grey;
    color: white;
    padding: 0.5em;
    font-weight: bold;
}
