#allStudents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

#groupsForm {
    margin: 1em;
    width: 50%;
}

#groupsForm ul {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}