* {
    margin: 0;
}
body {
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    z-index:9999;
}
#content {
    width: 80%;
    margin: 10% auto 5% auto;
    flex: 1;
}
.columns {
    display: flex;
    justify-content: center;
}
.column {
    margin: 1em;
}
.column-table {
  display: flex;
  justify-content: center;
  margin: 50px auto 15px auto;
}
footer {
    bottom: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;

}
footer p {
    color: #759e2e;
    font-style: italic;
    margin-left: 1em;
}
a {
    text-decoration: none;
    color: #000;
}
.space {
    height: 2em;
}
/*Dessa används på why-us-html*/
.line {
    float: left;
    background-color: green;
    height: 5px;
    width: 100%;
    border-radius: 15px;
}
@media screen and (max-width: 1000px){
    header, .columns {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .columns img {
        width:100%;
    }
    #nav ul {
        flex-wrap: wrap;
    }
}
h2 {
  font-size: 20px;
  border: none;
  text-align: left;
  padding-bottom: 20px;
  color: black;
}
h5 {
  margin-top: 15px;
}
.info {
  margin-top: 25px;
  margin-right: 100px;
}
form {
  width: 200px;
  height: 510px;
  margin: auto;
  position: relative;
}
label {
  font-size: 13px;
}
table, th, td {

}
table tr:nth-child(odd) {
    background-color: #72c3da;
  }
td {
    height: 25px;
    vertical-align: bottom;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #759e2e;
    border-radius: 2px;
}
th {
    background-color: #72c3da;
    color: black;
}
input[type=text], select, textarea {
    font-size: 13px;
    width: 100%;
    padding: 8px;
    border: 1px solid #759e2e;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: both;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    margin-top: 80px;
    border-radius: 5px;
    background-color: #72c3da;
    padding: 20px;
}
