* {
  margin: 0;
  outline: none;
}

body {
  font-family: "Helvetica", "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.space {
  height: 5em;
}

.listBtn:hover a {
  color: white;
}

/*HEADER*/

header {
  background-color: #562E84;
  padding: 0.2em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999;
}

header h1 {
  color: #FDB722;
}

header h2 {
  color: #fff;
  font-family: serif;
  font-size: 3vh;
}

header ul {
  list-style-type: none;
}

#logo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

#navContainer1 a, #navContainer2 a {
  color: #FDB722;
}

#navContainer1 a:hover, #navContainer2 a:hover {
  transition: 0.3s;
  color: #fdd681;
}

#navContainer1 ul, #navContainer2 ul {
  display: flex;
  height: 100%;
}

#navContainer1 {
  flex-basis: 60%;
}

#navContainer1 ul {
  align-items: center;
  justify-content: space-around;
}

#navContainer2 li {
  font-size: smaller;
  margin-right: 2em;
}

#navContainer1 strong {
  color: red;
}

#htmlHeading a {
  font-size: 150%;
}

#highLightHeading a, #htmlHeading a, #highLightHeading {
  color: white;
}

/*HAMBURGER!! */

.hamburger-btn {
  display: none;
  height: 3vh;
  width: 3vh;
  right: 3vh;
  line-height: 3vh;
  font-size: 3vh;
  bottom: 3vh;
  text-align: center;
  padding: 1vh;
  border-radius: 0.9rem;
  color: #000;
}

#main-nav-toggle {
  display: none;
}

@media screen and (max-width: 660px) {
  .hamburger-btn {
    display: inline-block;
    cursor: pointer;
    bottom: 90%;
  }
  #navContainer1 #main-nav-toggle+ul {
    display: none;
    background-color: #562E84;
    top: 15%;
    bottom: 90%;
  }
  #navContainer1 #main-nav-toggle:checked+ul {
    display: block;
    width: 100%;
    text-align: center;
    bottom: 90%;
  }

}

/*HAMBURGER ENDS */

@media screen and (max-width: 1000px) {
  header {
    position: static;
    flex-wrap: wrap;
    padding-bottom: 1em;
  }
  #logo {
    flex: 1 0 50%;
  }
  #navContainer1 {
    flex: 0 1 100%;
    order: 1;
    margin-top: 1em;
  }
  #navContainer2 {
    flex: 1 0 50%;
  }
  #navContainer1 ul {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: -1em;
  }
  #navContainer1 li {
    margin-left: 1em;
    margin-top: 1em;
  }
  #navContainer2 ul {
    justify-content: flex-end;
  }
  #navContainer2 img {
    width: 30px;
  }
  #navContainer2 li {
    margin-right: 1em;
  }
  #logOut {
    margin-left: 0;
  }
  #user a {
    margin-right: 0;
  }
  header {
    align-items: center;
  }
}

/*END HEADER*/

#content {
  width: 60%;
  margin: 15vh auto 5vh auto;
  flex: 1;
}

.columns {
  display: flex;
  justify-content: center;
}

.column {
  margin: 1em;
  flex-basis: 0;
  flex-grow: 1;
}

footer {
  bottom: 0;
  padding: 1rem;
  background-color: #562E84;
  text-align: center;
}

footer p {
  color: #FDB722;
  font-style: italic;
  margin-left: 1em;
}

footer span {
  text-decoration: line-through;
  text-decoration-color: red;
}

/*Dessa används på why-us-html*/

.line {
  background-color: #aaa;
  height: 2px;
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 1000px) {
  .columns {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .columns img, #content {
    width: 100%;
  }
  #nav ul {
    flex-wrap: wrap;
  }
  #content {
    margin-top: 1em;
    padding: 0;
    justify-content: center;
  }
  .column {
    margin: 1em;
    padding: 0;
  }
  #modal-content-id{
    width: 80%;
  }
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #3faecc;
  right: 45px;
  top: 50px;
  display: none;
}

.login-form {
  position: absolute;
  width: 280px;
  height: auto;
  background: #fff;
  right: 30px;
  top: 65px;
  border-radius: 3px;
  border-bottom: 4px solid #2b87a0;
  display: none;
  box-shadow: 0 2px 8px #3faecc;
}

.login-form>form {
  width: 200px;
  margin: 25px auto;
  font-size: 20px;
  font-family: Helvetica, Arial;
  color: gray;
  letter-spacing: -0.05em;
}

input[type="text"], input[type="password"], #educationNameRemove, .adminSelect {
  /*width: 50%;*/
  /*height: 30px;*/
  padding-left: 5px;
  border-radius: 3px;
  /*margin-bottom: 10px;*/
  margin: 1em 0 1em 0;
  font-family: Helvetica, Arial;
  /*font-size: 14px;*/
  font-size: 1em;
}

input[type="password"] {
  margin-top: 10px;
}

input[type="datetime-local"], input[type="week"], input[type="time"], input[type="date"] {
  padding: 1vh;
  /*font-size: 2vh;*/
  /*border: 1px solid black;*/
  font-family: helvetica;
  /*margin-right: 2vh;*/
  margin: 1em 0 1em 0;
  font-size: 1em;
}
#errorMessageDiv {
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  padding-top: 5px;
  font-size: 14px;
}

/* STUDENT.HTML */

.boxes {
  background-color: #fff;
  margin: 1em 0 0 0;
  border: 0 solid #562e84;
  border-radius: 0px;
  box-shadow: 1px 1px 2px #aaa;
  border-radius: 0;
  padding: 0.75rem;
}

.box {
  flex-direction: column;
}

.hiddenbox {
  flex-direction: row;
}

.box, .hiddenbox {
  display: flex;
}

#attendancebox2 {
  display: block;
}

#attendancebox3, #hidden {
  display: none;
}

.box, .attendancebox, #attendancebox2, #attendancebox3 {
  flex: 1;
}

.attendancebox, #attendancebox2, #attendancebox3, #hidden, .boxtext {
  margin: 0.5em;
}

@media screen and (max-width: 1000px) {
  .hiddenbox {
    display: flex;
    flex-direction: column;
  }
  .box:first-child {
    order: 1;
  }
}

.divider {
  background-color: #ccc;
  height: 1px;
  width: 100%;
  margin: 5px 0 5px 0;
}

/*Alex code*/

.assignments ul li {
  line-height: 3vh;
}

.assignments a {
  color: black;
  text-decoration: underline;
  justify-content: flex-end;
}

.week-food ul li {
  padding: 1vh;
  line-height: 3vh;
}

.boxes h4 {
  margin-top: 2vh;
  font-size: 2.4vh;
}

.assignments a:hover {
  color: blue;
}

.assignments a, .assignments ul, .week-food ul {
  display: flex;
}

.assignments ul, .week-food ul {
  flex-direction: column;
  padding: 0;
}

.assignments a {
  margin: 1vh;
}

.assignments ul li, .week-food ul li {
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 0 0 4px #000;
  margin: 1vh;
}

/* Alex code ends */

.boxtext h3 {
  text-align: left;
}

/* Calendar */

ul {
  list-style-type: none;
}

/* Month header */

.month {
  width: 100%;
  background: #999;
  text-align: center;
}

/* Month list */

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */

.month .prev {
  float: left;
}

/* Next button */

.month .next {
  float: right;
}

.month .prev, .month .next {
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */

.weekdays {
  background-color: #ddd;
}

/* Days (1-31) */

.days {
  background: #eee;
}

.weekdays, .days {
  margin: 0;
  padding: 10px 0;
}

.days li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 15px;
}

.weekdays li, .days li {
  display: inline-block;
  width: 12%;
  text-align: center;
  color: #000;
}

/* Highlight the "current" day */

.active {
  cursor: pointer;
  text-decoration: underline;
}

.attendancebox ul {
  margin: 0;
  padding: 0;
}

/* Smiley-survey */

#smileySurvey, #smileySurvey ul, #surveys, #weeklyAlert {
  display: flex;
}
#weeklyAlert {
  width: 100%;
  background-color: white;
  border: 2px solid red;
  margin-top: 1em;
  justify-content: center;
}
#weeklyAlert h3 {
  padding: 1em;
}

#smileySurvey .boxes {
  padding: 0.5em 1em 0 1em;
  width: 100%;
}

#smileySurvey .boxes, #weeklyAlert .boxes {
  border: 2px solid red;
}

#smileySurvey ul {
  justify-content: space-around;
  padding: 0;
  margin-top: 0.5em;
}

#smileySurvey li {
  font-size: 200%;
}

#smileySurvey h3, h6 {
  text-align: center;
}

h6 {
  font-size: 18px;
}

#surveys {
  justify-content: space-between;
}

#weeklyAlert .boxes {
  justify-content: center;
}

#weeklyAlert a:visited {
  color: black;
}

#smileySurveyTeacher li {
  font-size: 18px;
}

footer {
  color: #FDB722;
}

/*EVALUATION.HTML*/

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid purple;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 4px #aaa;
  border: 1px solid #fff;
}

.container h1 {
  margin: 2vh 0 2vh 2vh;
}

.question1 {
  padding: 3vh;
  margin: 0 25px;
}

.question {
  border-top: 1px solid #ccc;
  padding: 3vh;
  margin: 0 25px;
}

.question ul, .question1 ul {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.question ul li, .question1 ul li {
  margin-right: 2vh;
}

.question textarea, .question ul, .question1 ul, input[type="radio"] {
  margin-top: 2vh;
  margin-right: 2vh;
  flex-wrap: wrap;
}

.question textarea, .question1 textarea{
  height: 10vh;
  width: 60%;
  border: 1px solid #000;
  resize: none;
  font-size: 2vh;
}

@media screen and (max-width: 1000px) {
  .question ul, .question1 ul{
    flex-direction: column;
  }
  .question textarea, .question1 textarea {
    width: 100%;
  }
  .class-info table tr td {
    font-size: 80%;
  }
  .class-info table th:nth-child(2) {
    display: none;
  }
  .class-info table td:nth-child(2) {
    display: none;
  }

}

/*EVALUATION.HTML ENDS!*/

/* PROJECT.HTML */

.hand-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
}

.upload {
  margin: 1vh 0 1vh 0;
}

/* Teacher.html */

.main-news, article {
  display: flex;
}

.main-news {
  height: 70vh;
  flex: 1;
}

article {
  overflow-y: scroll;
  padding: 2em;
  flex: 2;
}

/* HTML CLASS */

.class-info, .teach-news, .class-student, article {
  background-color: #fff;
  box-shadow: 0 0 4px #aaa;
  border: 1px solid #fff;
  padding: 3vh;
}

.class-info h1, h2 {
  margin-bottom: 1vh;
}

.class-info table {
  width: 100%;
}

.class-info table tr {
  text-align: left;
}
.class-info table th {
  text-align: left;
  font-size: 12px;
}

.class-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.class-info ul, .class-info li, .class-info table, .paragraph {
  border: 1px solid black;
}

.class-info li {
  list-style-type: none;
  align-items: center;
}

.class-info button {
  margin-top: 1vh;
  height: 4vh;
  font-size: 2vh;
}

.class-info button:hover {
  background-color: lightgrey;
}

.assignment-btn, .class-info button {
  align-self: flex-end;
}

.class-student h1 {
  margin: 1vh;
}

.class-student li {
  list-style-type: none;
}

.class-student table {
  flex-wrap: wrap;
}

#date {
  margin: 2vh 0 1vh 0;
}

#date {
  height: 30px;
  text-align: center;
  font-size: 1.8vh;
}

.input-date {
  margin-top: 1vh;
  border: 2px solid black;
}

.submit-news {
  background-color: #759e2e;
  margin-top: 2vh;
  padding-left: 3vh;
  padding-right: 3vh;
}

.submit-news:hover {
  background: green;
}

#newsPlaced, #provPlaced {
  display: none;
  background: #6495ED;
  color: white;
  text-align: center;
  -webkit-animation: fadeIn 0.5s;
  padding: 1.5vh;
  margin-top: 1vh;
}

.teach-news .heading {
  border: 1px solid gray;
  border-radius: 0;
}

input.heading {
 padding: 0.5em;
}

/* HTML CLASS ENDS */

/*SUBMISSION.HTML*/

.submission {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 4px #aaa;
  border: 1px solid #fff;
  padding: 3vh;
  justify-content: center;
}

.submission h1, h2 {
  margin-bottom: 1vh;
}

.submission table {
  border: 1px solid black;
  text-align: left;
}

.submission a {
  color: black;
  font-weight: bold;
}

.submission .in {
  color: green;
}

.submission .not-in {
  color: red;
}

@media screen and (max-width: 1000px) {
  .submission table th:nth-child(2) {
    display: none;
  }
  .submission table td:nth-child(2) {
    display: none;
  }
}

/*Stu Dentson SUBMISSION */

.teacher-feedback, .armida-project, .admin-class {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 4px #aaa;
  border: 1px solid #fff;
  padding: 3vh;
}

.admin-class {
  align-items: center;
}

.teacher-feedback {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feedback {
  display: flex;
  flex-direction: column;
}

.feedback textarea {
  align-self: flex-start;
}

.feedback textarea {
  border: 1px solid black;
  width: 270px;
  font-size: 1.8vh;
}

.feedback textarea {
  resize: none;
  height: 250px;
}

.box-grade {
  margin: 1.5vh;
}

/* Stu Dentson SUBMISSION ENDS */

#smileySurveyTeacher {
  display: flex;
  flex-wrap: wrap;
}

#smileySurveyTeacher li {
  font-size: 200%;
  padding: 0.5em;
}

.attnColor {
  background: #cc0000;
}

.attnColor2 {
  background: #759e2e;
}

.attnColor, .attnColor2, #attendenceSaved {
  color: white;
  text-align: center;
}

#attendenceSaved {
  display: none;
  background: #759e2e;
  -webkit-animation: fadeIn 0.5s;
  padding: 5px 0 5px 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropBtn {
  background-color: #562E84;
  color: #FDB722;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropBtn::after {
  content: " \25BC ";
  font-size: 1.5vh;
}

.dropdown {
  background-color: #562E84;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #562E84;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 1.3vh;
  border-top: 1px solid #FDB722;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #8955c3;
}

.show {
  display: block;
}

.armida-project, .teacher-feedback, .admin-class {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 4px #aaa;
  border: 1px solid #fff;
  padding: 3vh;
}

/*.armida-project {
  align-items: center;
  padding: 7vh;
}*/

.border-box span {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: lightgrey;
  padding: 1vh;
  margin: 2vh;
}

#instructions {
  border: 1px solid #b30000;
  padding: 15px 0 15px 30px;
  width: 500px;
}

#submitBtn {
  font-family: Helvetica, sans-serif;
  font-size: 2vh;
}

/*.admin-class {
  width: 40vh;
}

.admin-class button {
  background-color: #759e2e;
  height: 5vh;
  font-size: 2vh;
}

.admin-class button a {
  color: white;
}

.admin-class button:hover {
  background-color: green;
}*/

.student-list {
  overflow-y: scroll;
  height: 40vh;
  font-weight: bold;
}

.student-list li {
  margin: 1vh 1vh 3vh 1vh;
  padding-right: 2vh;
}

.student-list li:hover {
  color: grey;
}

#removeButton {
  background-color: crimson;
  color: white;
}

#removeButton:hover {
  background-color: red;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2vh;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 1em;
  border: 1px solid #888;
  width: 50%;
}

.modal-content div{
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 5vh;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#admin-educations-list li {
margin: 2.3em;
}

#admin-educations-list a {
  color: #333333;
}

#admin-educations-list a:hover {
  color: gray;
}

.page-buttons {
  display: inline-flex;
  float: right;
  justify-content: flex-end;
}

.a-button {
  background-color: #2b88a1;
  color: white;
  padding: 1vh;
  /*margin: 3vh 2vh 3vh 2vh;*/
  box-shadow: 0 0 4px #000;
  /*align-items: flex-end;*/
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1em 0 1em 0;
}

.a-button:hover {
  background-color: #206679;
  color: white;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

h2 {
  text-align: center;
  /*margin-bottom: 1em;*/
  margin-top: 1em;
}

.selectBtn {
  outline: 0;
  overflow: hidden;
  /*height: 4vh;
  width: 15vh;*/
  /*font-size: 2vh;*/
  font-size: 1em;
  background: white;
  color: black;
  margin: 1em 0 1em 0;
}

.flexContainer-spaceBetween{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em 0 1em 0;
}
.flexContainer-spaceAround{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1em 0 1em 0;
}
.flexContainer-flexStart {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1em 0 1em 0;
}
.flexContainer-flexEnd {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0 1em 0;
}
.justify-content-center {
  justify-content: center;
}
.headingWithMargin {
  margin: 1em 0 1em 0;
  vertical-align: center;
}
.classWithBorder{
  border: 1px solid black;
}
.classWithRightMargin{
  margin-right: 1em;
}
.margin-1em {
  margin: 0 1em 0 1em;
}
#width-50 {
  width: 50%;
}
textarea {
  width: 100%;
  height: 10em;
  resize: none;
  font-size: 1em;
}
