* {
    margin: 0;
}
body {
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}
header{
    background: #fff;
    padding: 0.2em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}
#content{
    width: 80%;
    margin: 20vh auto 5vh auto;
    flex: 1;
}
.columns {
    display: flex;
    justify-content: center;
}
.column{
    margin: 1em;
}
footer{
    bottom: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
footer p{
    color: #759e2e;
    font-style: italic;
    margin-left: 1em;
}
#logo{
    align-items: center;
    display: flex;
}
#logo a img {
  display: none;
}

#nav{
    align-items: flex-end;
    display: none;
}
#nav ul {
    display: inline-flex;
}
#nav ul li{
    margin: 0 2em 1em 0;
    list-style: none;
    padding: 0.5em;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #000;
}
.space {
    height: 5em;
}

#login {
    font-weight: bold;
    background: #3faecc;
    border-radius: 9px;
    color: #fff;
    padding: 3px;
}

h2{
    font-style: 'Geneva';
    font-size: 70px;
    border-bottom: solid #3faecc 1px;
    border-bottom-width: 2px;
    margin-bottom: 5px;
    text-align: center;
}
.listBtn:hover{
    background-color: #759e2e;
    padding: 5px;
    border-radius: 9px;
    transition: 0.2s;
}
.listBtn:hover a{
    color: white;
}
@media screen and (max-width: 1000px){
    .columns{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .columns img {
        width:100%;
    }
    #nav ul {
        flex-wrap: wrap;
    }
}


/******login specifick*******/
.login-page {
    width:100%;
    margin: auto;
  }

  .login-face>img {
    width: 100px;

    overflow: hidden;
    margin-bottom: 20px;
  }

  .form {
    position: relative;
    background: #fff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-bottom: 3px solid skyblue;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: sans-serif, Arial;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 3px #aaa;
  }
  input[type=submit] {
    font-family: sans-serif, Arial;
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background: #43A047;
  }
  #errorMessageDiv {
    font-family: "Roboto", sans-serif;
    font-size: smaller;
  }
